<!-- Services Section -->
    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Event Details</h2>
                  <h3 class="section-subheading text-muted">Dec 14, 2016 at 6:30pm</h3>
                  <div style="margin: auto; max-width: 500px">
                    <p><b>ProductTank Dubai</b> - We want to kick-off the Product Management Community in Dubai and UAE. ProductTank provides an opportunity for Product Managers in Dubai to exchange ideas and experiences about Product Development, Product Management, Product Design, UI, UX, Business Modelling, Metrics and all the other things that get us excited. </p>
                    <p>The event includes talks from guest speakers on topics around Product Management. The second half is reserved for open discussion and networking opportunities among all participants. </p>
                    <p></p><p></p>
                    <p>For the start we got 2 amazing speakers:</p>
                    <p>&bull; <b>Tamer Sabry</b>, VP of Product Management at Souq.com</p>
                    <p>&bull; <b>Andreas H&auml;gglund</b>, Agile Manager at Careem.com</p>
                    <p></p><p></p><p></p><br><br>
                  </div>
                  <div class="container">
                    <div class="intro-text">
                      <a href="https://www.meetup.com/ProductTank-Dubai/events/233973009/"  target="_blank" class="page-scroll btn btn-xl">RSVP now</a>
                      <br><br><span class="intro-lead-in">Please go to <a href="https://www.meetup.com/ProductTank-Dubai/events/233973009/"  target="_blank">Meetup.com</a> to join the event.</span><br><br>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>